.register-form-wrap{
    width: 100%;
    max-width: 600px;
    background: #fff;
    height: 80vh ;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.text-input {
    margin-bottom: 0; 
    padding: 15px; 
    width: 100%; 
    box-sizing: border-box;
    font-size: 15px;
}

.submit-button {
    background: #592584;
    color: #D8DCF4;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 70%;
    font-size: 1.125rem;
    font-weight: 500;
}

.login-wrap{
    margin-top: 20px;
    text-align: center;
}

.form-switch-button{
    background: none;
    border: none;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 2vh;
    align-items: left;
    font-size: 1.125rem;
    font-weight: 500;
    color: #454545;
}

.form-switch-button:hover {
    background-color: #060814; 
    font-size: 1.125rem;
    font-weight: 500;
    color: #D8DCF4;
}

.password-input-container {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}